<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Лучшие туристические места</title>
    <link rel="stylesheet" href="/../../static/style.css">
</head>
<body>
<div id="header">
    <img src="/../../static/bag2.png" id="logo">
    <div id="title">Лучшие туристические места</div>
</div>
<form method="POST" action="">
    <h6>Введите место</h6><textarea name="place"/>{{text}}</textarea><br>
    <h6>На каком расстоянии исакть?</h6><textarea name="dist"/>{{dist}}</textarea><br>
    <input type="submit" value="Найти">
</form>
<table>
    {% for user in data %}
    {% if user.n % 3 == 0 %}
    <tr>
        <td>
            <font size="5">
                <center>Страна: {{user.country}}</center>
            </font>
            <br><a href="./../place/{{user.id}}"><img src="{{user.pict}}" class="user-image"></a>
            <br><a href="./../place/{{user.id}}"><font size="15">
            <center>{{user.place}}</center>
        </font></a>
        </td>
        {% elif user.n % 3 == 1 %}
        <td>
            <font size="5">
                <center>Страна: {{user.country}}</center>
            </font>
            <br><a href="./../place/{{user.id}}"><img src="{{user.pict}}" class="user-image"></a>
            <br><a href="./../place/{{user.id}}"><font size="15">
            <center>{{user.place}}</center>
        </font></a>
        </td>
        {% elif user.n % 3 == 2 %}
        <td>
            <font size="5">
                <center>Страна: {{user.country}}</center>
            </font>
            <br><a href="./../place/{{user.id}}"><img src="{{user.pict}}" class="user-image"></a>
            <br><a href="./../place/{{user.id}}"><font size="15">
            <center>{{user.place}}</center>
        </font></a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div>User: {{login}}</div>
<form method="post">
    <br>
    <button type="submit" class="btn btn-primary" name="out">Выйти</button>
</form>
</body>
</html>