<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Избранные</title>
    <link rel="stylesheet" href="/../../static/style.css">
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<div id="header">
    <div class="nav"><a href="/{{login}}"><img src="/../../static/bag2.png" class="logo"></a></div>
    <div class="nav" id="title">Лучшие туристические места</a></div>
</div>
<table>
    {% for place in data %}
    {% if place.n % 3 == 0 %}
    <tr>
        <td>
            <font size="5">
                <center>Страна: {{place.country}}</center>
            </font>
            <br><a href="./place/{{place.place_id}}"><img src="{{place.pict}}" class="user-image" alt="Нет картинки"></a>
            <br><a href="./place/{{place.place_id}}"><font size="15">
            <center>{{place.place}}</center>
        </font></a>
            <br>
            <form method="POST" action="">
                {% if place.liked == True %}
                <input type="submit" value="Удалить из избранных" name="delete">
                <input type="hidden" value="{{place.place_id}}" name="hid">
                {% elif place.liked == False %}
                <input type="submit" value="Добавить в избранные" name="add">
                <input type="hidden" value="{{place.place_id}}" name="hid">
                {% endif %}
            </form>
        </td>
        {% elif place.n % 3 == 1 %}
        <td>
            <font size="5">
                <center>Страна: {{place.country}}</center>
            </font>
            <br><a href="./place/{{place.place_id}}"><img src="{{place.pict}}" class="user-image" alt="Нет картинки"></a>
            <br><a href="./place/{{place.place_id}}"><font size="15">
            <center>{{place.place}}</center>
        </font></a>
            <br>
            <form method="POST" action="">
                {% if place.liked == True %}
                <input type="submit" value="Удалить из избранных" name="delete">
                <input type="hidden" value="{{place.place_id}}" name="hid">
                {% elif place.liked == False %}
                <input type="submit" value="Добавить в избранные" name="add">
                <input type="hidden" value="{{place.place_id}}" name="hid">
                {% endif %}
            </form>
        </td>
        {% elif place.n % 3 == 2 %}
        <td>
            <font size="5">
                <center>Страна: {{place.country}}</center>
            </font>
            <br><a href="./place/{{place.place_id}}"><img src="{{place.pict}}" class="user-image" alt="Нет картинки"></a>
            <br><a href="./place/{{place.place_id}}"><font size="15">
            <center>{{place.place}}</center>
        </font></a>
            <br>
            <form method="POST" action="">
                {% if place.liked == True %}
                <input type="submit" value="Удалить из избранных" name="delete">
                <input type="hidden" value="{{place.place_id}}" name="hid">
                {% elif place.liked == False %}
                <input type="submit" value="Добавить в избранные" name="add">
                <input type="hidden" value="{{place.place_id}}" name="hid">
                {% endif %}
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div>User: {{name}}</div>
</body>
</html>