{% extends "base.html" %}

{% block content %}
<h1><center>Регистрация</center></h1>
<form id="login_form" method="post">
    <input type="text" class="form-control" id="login" placeholder="Введите логин" name="login">
    <br><input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
    <br><input type="text" class="form-control" id="country" placeholder="Введите страну проживания" name="country">
    {% if not flag %}
    <br><font color="red">Неверные данные</font>
    {% endif %}
    {% if used %}
    <br><font color="red">Такой пользователь уже существует</font>
    {% endif %}
    <br><button type="submit" class="btn btn-primary" name="regist">Зарегистрироваться</button>
    <br>Уже есть аккаунт?
    <br><button type="submit" class="btn btn-primary" name="sign_in">Войти</button>
</form>
{% endblock %}