<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Лучшие туристические места</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<div id="header">
    <div class="nav"><a href="/{{login}}/{{point}}/{{distance}}"><img src="/../../static/bag2.png" class="logo"></a></div>
    <div class="nav" id="title">Лучшие туристические места</a></div>
</div>
<table>
    <tr>
        <td>
            {% for photo in place.photos %}
            <img src="{{photo}}" id="user-big-image">
            {% endfor %}
        </td>
        <td width="300px">
            <h1>{{place.place}}</h1>
            <h4>Рейтинг: {{place.rating}}</h4>
            <a href="{{place.link}}"><h4>Сылка</h4></a>
            <h2>Комментарии</h2>
            <form method="POST" action="">
                <textarea class="md-textarea form-control" name="message_text"/></textarea><br>
                <input class="btn btn-secondary" type="submit" value="Отправить комментарий">
            </form>
            {% for message, person in messages %}
            Пользователь: {{person}}
            <br>Дата: <i>{{message.time}}</i><br>
            {{message.text}}<br>
            <br>
            {% endfor %}
        </td>
        <td>
            <form method="POST" action="">
                <input class="btn btn-outline-dark" type="submit" name='delete_button' value="Удалить все комментарии">
            </form>
        </td>
    </tr>
</table>
<div>User: {{name}}</div>
</body>
</html>